/**
 *
 * Main file
 *
 * ---------------------
 * # Settings
 * # Tools
 * # Generic
 * # Base
 * # Objects
 * # Components
 * # Trumps
 * ---------------------
 */

/* --- Settings ------- */
@import 'settings/settings';
/* --- Tools ---------- */
@import 'tools/tools';
/* --- Generic -------- */
@import 'generic/generic';
/* --- Base ----------- */
@import 'base/base';
/* --- Objects -------- */
@import 'objects/objects';
/* --- Components ----- */
@import 'components/components';
/* --- Trumps --------- */
@import 'trumps/trumps';


body {
  font: 1em/1.67 'Open Sans', Arial, Sans-serif;
  background: #e9e9e9;
}

/*main color: rgb(96,125,139)*/

/* Masonry bricks or child elements */
.wrapper {
  width: 95%;
  margin: 3em auto;
}
​
.grid {
  width: 100%;
}

.item {
  width: 100%;
  margin: 10px;
  border-radius: 3px;
  @media only screen and (min-width: 400px) {
    width: 47%;
  }

  @media only screen and (min-width: 768px) {
    width: 30%;
  }

  @media only screen and (min-width: 992px) {
    width: 22%;
  }
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 1260px;
  }
}
